.orderBtn:link,
.orderBtn:visited {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #ffc32c;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  border-radius: 1rem;
  text-transform: uppercase;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
}

