.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.4rem 1rem;
}

@media only screen and (max-width: 75em) {
  .menuView {
    position: fixed;
    background-color: #d49700;
    z-index: 999;
  }

  .header {
    padding: 4.8rem 3.6rem;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
