.cart__modal {
  position: fixed;
  top: 12.6rem;
  left: 50%;
  transform: translateX(-50%);
  max-height: 80vh;
  overflow-y: auto;
  z-index: 999;
  background-color: #ffedc0;

  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
